<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos :: import-css(title='Clientes')}">
        <title></title>        
    </head>
    <body>
        <div th:replace="~{fragmentos :: barramenu(pagina='clientes')}"></div>       
        
        <div class="container" style="margin-top: 10px">
            <div th:replace="~{fragmentos :: busca(tipo='nome', path='~/clientes/busca', origem='~/clientes')}"/>
            <div class="card-header">
                <h4>
                    Clientes cadastrados
                    <a class="btn btn-primary" th:href="@{~/clientes/cliente}" role="button" style="float:right">+</a>
                </h4>
            </div> 
            
            <div th:replace="~{fragmentos :: mensagens}"></div>
           
            <div class="card" th:each="cliente : ${clientes}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${cliente.nome}"></h5>                    
                </div>
                <div class="card-text" style="margin-left: 10px">
                    <span>CPF: </span>
                    <span th:text="${cliente.cpf}"/><br>
                    <span>Email: </span>
                    <span th:text="${cliente.email}"/><br> 
                    <span>CEP: </span>
                    <a th:href="@{'https://viacep.com.br/ws/'+${cliente.cep}+'/json'}" th:text="${cliente.cep}"></a><br>
                    <span>Numero: </span>
                    <span th:text="${cliente.numero}"/><br>
                    <span> </span>
                    <span th:if="${not #strings.isEmpty(cliente.complemento)}" th:text="'Complemento '+${cliente.complemento}"/>
                    <div class="card-body">
                    <a th:href="@{'~/clientes/cliente/'+${cliente.id}+'/alugueis'}" class="btn btn-success">Alugueis</a>
                        <a th:href="@{'~/clientes/cliente/'+${cliente.id}}" class="btn btn-warning">Editar</a>
                        <a th:href="@{'~/clientes/'+${cliente.id}+'/deletar'}" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este cliente?')">Excluir</a>
                    </div>
                </div>                
            </div>
        </div>
      
        <div th:replace="~{fragmentos :: import-js}"></div>
    </body>
</html>
