<!DOCTYPE html>

<html lang="pt-br" html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:fragment="import-css(title)">
        <title th:text="${title}"></title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link th:href="@{~/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" rel="stylesheet"/>        
    </head>
    <body>
        <div th:fragment="barramenu(pagina)">

           
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="/">
                        <img th:src="@{~/images/logomenu.png}" width="30" height="30" class="d-inline-block align-top"/>
                        Ongames Locadora
                    </a>  
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="textoNavbar">
                        <ul class="navbar-nav mr-auto">                         
                          <li class="nav-item active" th:classappend="${pagina == 'jogos' ? 'active' : ''}">
                            <a class="nav-link" th:href="@{~/jogos}"}>Jogos</a>
                          </li>
                          <li class="nav-item" th:classappend="${pagina == 'clientes' ? 'active' : ''}">
                            <a class="nav-link" th:href="@{~/clientes}"}>Clientes</a>
                          </li>
                          <li class="nav-item" th:classappend="${pagina == 'funcionarios' ? 'active' : ''}" sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="nav-link" th:href="@{~/funcionarios}"}>Funcionarios</a>
                          </li>
                          <li class="nav-item" th:classappend="${pagina == 'categorias' ? 'active' : ''}">
                            <a class="nav-link" th:href="@{~/categorias}"}>Categorias</a>
                          </li>
                            <li class="nav-item" th:classappend="${pagina == 'contas' ? 'active' : ''}">
                            <a class="nav-link" th:href="@{~/contas}"}>Contas</a>
                          </li>
                          </li>
                            <li class="nav-item" th:classappend="${pagina == 'algueis' ? 'active' : ''}">
                            <a class="nav-link" th:href="@{~/alugueis}"}>Alugueis</a>
                          </li>                         
                            <li class="nav-item" th:classappend="${pagina == 'meusdados' ? 'active' : ''}" sec:authorize="isAuthenticated()">
                            <a class="nav-link" th:href="@{~/funcionarios/meusdados}"}>Meus dados</a>
                          </li> 
                        </ul>                         
                    </div>
                    <a sec:authorize="isAuthenticated()" class="btn btn-outline-danger" th:href="@{~/logout}" role="button" style="float:right; margin-right: 10px">Logout</a>
                </nav>
            </div>
        </div>
        <div th:fragment="mensagens">
            <div th:if="${not #strings.isEmpty(msgErros)}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <p th:each="msg : ${msgErros}" th:text="${msg.getDefaultMessage()}"></p>
                <button type="button" class="btn-close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>            
            <div th:if="${not #strings.isEmpty(msgSucesso)}" class="alert alert-success alert-dismissible fade show" role="alert" >
                <p th:each="msg : ${msgSucesso}" th:text="${msg}"></p>
                <button type="button" class="btn-close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>           
        </div>
        <div th:fragment="import-js">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script th:href="@{~/webjars/jquery/3.6.0/js/bootstrap.bundle.min.js}"></script>
        </div>
    </body>
</html>
